{% extends 'base.html' %}

{% block header %}
<a href="/" class="main">Main Page</a>
{% endblock %}

{% block content %}
<div>
    <h1 class="about-title">About</h1>
</div>
<h6 class="about-text">GenreVim is a web application designed to provide music genre classification for music videos
    from YouTube.
    Leveraging the power of <a href="https://arxiv.org/abs/2110.01900" style="font-weight: bold;">DistilHuBERT</a>,
    GenreVim analyzes audio features and patterns to identify the genre of a given music video.</h6>
<h5 class="features">Features</h5>
<div class="features-content">
    <ul class="features-text">
        <li>
            <div class="features-div">
                <div class="features-text-title"><b>Accurate Genre Classification</b></div>
                <div class="features-text-desc">GenreVim uses sophisticated HuBERT algorithm to classify music genres
                    accurately.</div>
            </div>
        </li>
        <li>
            <div class="features-div">
                <div class="features-text-title"><b>Easy-to-Use Interface</b></div>
                <div class="features-text-desc">The user-friendly interface makes it simple for anyone to use. Just
                    enter the YouTube URL of the music video, and GenreVim will do the rest.</div>
            </div>
        </li>
        <li>
            <div class="features-div">
                <div class="features-text-title"><b>Recent and Recommended Songs</b></div>
                <div class="features-text-desc">GenreVim not only provides genre classification but also offers a
                    curated list of recent and recommended songs based genre.</div>
            </div>
        </li>
    </ul>
</div>
<h5 class="supported-genres">Supported Genres</h5>
<h6 class="supported-genres-desc">GenreVim supports up to 18 genres including:</h6>
<div class="supported-genres-div">
    <ul class="supported-genres-ul">
        <li>Blues</li>
        <li>Classical music</li>
        <li>Country music</li>
        <li>Drum & Bass</li>
        <li>Dubstep</li>
        <li>Folk</li>
        <li>Future Bass</li>
        <li>Hardstyle</li>
        <li>House</li>
        <li>Jazz</li>
        <li>Latin</li>
        <li>Metal</li>
        <li>Pop</li>
        <li>R&B, Soul</li>
        <li>Rap</li>
        <li>Reagge</li>
        <li>Rock</li>
        <li>Trap</li>
    </ul>
</div>
</div>
{% endblock %}