<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link href="https://fonts.cdnfonts.com/css/prototype" rel="stylesheet">
    <title>GenreVim</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <nav class="header">
        <div class="logo">
            {% block header %}
            {% endblock %}
            <div>
                <div class="soundwave">
                    <div class="bar" style="height: 14px; margin-bottom: 23px;"></div>
                    <div class="bar" style="height: 20px; margin-bottom: 20px;"></div>
                    <div class="bar" style="height: 50px; margin-bottom: 5px;"></div>
                    <div class="bar" style="height: 30px; margin-bottom: 15px"></div>
                    <div class="bar" style="height: 35px; margin-bottom: 14px"></div>
                    <div class="bar" style="height: 25px; margin-bottom: 18px"></div>
                    <div class="bar" style="height: 55px; margin-bottom: 3px"></div>
                    <div class="bar" style="height: 25px; margin-bottom: 18px"></div>
                    <div class="bar" style="height: 40px; margin-bottom: 11px"></div>
                    <div class="bar" style="height: 20px; margin-bottom: 20px"></div>
                    <div class="bar" style="height: 14px; margin-bottom: 23px"></div>
                </div>
                <div class="text">
                    <span class="genre">Genre</span><span class="vim">Vim</span>
                </div>
            </div>
            <a href="https://huggingface.co/MarekCech" target="_blank"><img width="25" height="25" class="huggingface"
                    src="https://cdn.worldvectorlogo.com/logos/huggingface-2.svg"></a>
        </div>
    </nav>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>