<h2 class="prediction"><span class="predicttext">Genre of</span> {{ title }} <span class="predicttext">is</span> {{
    genre }}.</h2>
{% if recommendations %}
<div class="recommended-songs">
    <h3 class="recommended-songs-heading">Recommendations</h3>
    <ul class="recommended-songs-list">
        {% for song in recommendations %}
        <li>
            <div class="embed-container">
                <a href="{{ song.youtube_link }}" target="_blank"><img width="400" height="225"
                        src="{{ song.thumbnail_url }}"></img></a>
            </div>
            <div class="song-title-rec">
                {{ song.name }}
            </div>
            <div class="song-genre">
                {{ song.genre }}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}